<div class="min-h-screen bg-gray-100 text-gray-900 dark:bg-gray-950 dark:text-white transition-colors">
  <div class="fixed top-4 right-4 z-50">
    <button
      (click)="toggleDarkMode()"
      class="bg-gray-300 text-sm px-3 py-1 rounded dark:bg-gray-700 dark:text-white"
    >
    <p *ngIf="!isDark" class="flex items-center gap-2">
      <lucide-icon [img]="Sun" class="my-icon" [size]="20"/> | Escuro
    </p>
    <p *ngIf="isDark" class="flex items-center gap-2">
      <lucide-icon [img]="Moon" class="my-icon" [size]="20"/> | Claro
    </p>
    </button>
  </div>

  <div class="pt-20 max-w-5xl mx-auto px-4">
    <router-outlet />
  </div>
</div>
